Repository Emasoft/MFR: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, deptry, yamllint, yamlfmt, actionlint, pytest

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --strict
  - --show-error-codes
  - --show-error-context
  - --pretty
  - --ignore-missing-imports
  - --no-warn-unused-ignores
  - --allow-untyped-decorators
  require_serial: true

deptry:
  name: deptry
  entry: uv run deptry
  language: system
  pass_filenames: false
  args:
  - src

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system
  args:
  - -c=.yamllint.yml

yamlfmt:
  name: yamlfmt (GitHub workflows)
  entry: ./scripts/yamlfmt.sh
  language: system
  require_serial: true

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false
  args:
  - tests/
  - -v

fix: use jq instead of grep for JSON parsing in workflows
  .github/workflows/pre-commit.yml
Due: yamllint, yamlfmt, actionlint

docs: add comprehensive session summary for code quality improvements
  SESSION_SUMMARY_2025-06-25.md
Due: none

fix: configure uv build properly for src layout
  UV_BUILD_CONFIGURATION_SUMMARY.md
  pyproject.toml
Due: deptry, pytest

fix: address project issues found during comprehensive audit
  README.md
  replacement_mapping.json
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

chore: remove obsolete CI log files
  logs/15838838483.log
  logs/ci_test_3_10.log
Due: none

test: add comprehensive tests to increase coverage from 53% to 62%
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
Due: mypy, pytest

docs: add test coverage improvement summary
  COVERAGE_IMPROVEMENT_SUMMARY.md
Due: none

test: add comprehensive surgical replacement tests and project audit
  PROJECT_AUDIT_REPORT.md
  SURGICAL_REPLACEMENT_ISSUES.md
  tests/test_surgical_replacements.py
Due: mypy, pytest

fix: critical encoding preservation bugs in MFR
  src/mass_find_replace/file_system_operations.py
  tests/test_surgical_replacements.py
Due: mypy, pytest

refactor: improve encoding handling efficiency and completeness
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

feat: comprehensive testing infrastructure and critical encoding fixes
  docker-compose.test.yml
  docker/Dockerfile.test
  docker/test-profiles.env
  final-docker-test.log
  scripts/docker-test.sh
  scripts/run-tests-docker.sh
  src/mass_find_replace/test_config.py
  tests/test_github_integration.py
Due: mypy, yamllint, pytest

fix: resolve CI test failures across platforms
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
Due: mypy, pytest

fix: update all test files to match new function signatures and behavior
  tests/test_additional_coverage.py
  tests/test_mass_find_replace.py
Due: mypy, pytest

fix: resolve Prefect logging error in tests causing CI failures
  tests/conftest.py
Due: mypy, pytest

fix: disable Prefect Rich output in tests to prevent I/O errors
  tests/conftest.py
Due: mypy, pytest

fix: skip KeyboardInterrupt test in CI and enhance Prefect disabling
  tests/conftest.py
  tests/test_additional_coverage.py
Due: mypy, pytest

fix: update test function signatures for execute_all_transactions and other functions
  test_failures_analysis.md
  test_fixes_action_plan.md
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
  tests/test_mass_find_replace.py
Due: mypy, pytest

fix: update test expectations to match actual function behaviors
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
Due: mypy, pytest

fix: correct load_ignore_patterns test to pass Path object
  tests/test_coverage_improvements.py
Due: mypy, pytest

fix: comprehensive test suite fixes for CI/CD pipeline
  test_failures_analysis.md
  test_fixes_action_plan.md
Due: none

fix: fix test failures in test coverage files
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
Due: mypy, pytest

fix: comprehensive test suite fixes for CI/CD pipeline
  macos_job.log
  src/mass_find_replace/file_system_operations.py
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
  tests/test_mass_find_replace.py
  tests/test_surgical_replacements.py
Due: mypy, pytest

fix: resolve Unicode encoding error on Windows tests
  macos_job.log
  tests/test_surgical_replacements.py
Due: mypy, pytest

docs: add comprehensive refactoring plan for file size violations
  REFACTORING_PLAN.md
Due: none

docs: add comprehensive issues summary
  ISSUES_SUMMARY.md
Due: none

fix: improve code quality and fix ruff linting issues
  deptry_report.json
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

docs: document fixes applied to improve code quality
  FIXES_APPLIED.md
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

feat: make GitHub workflows interruptible with concurrency control
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prfix.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .github/workflows/uv-lock-check.yml
  WORKFLOW_CONCURRENCY_FIX.md
  scripts/test-workflow-cancellation.sh
Due: yamllint, yamlfmt, actionlint

refactor: extract core utilities from file_system_operations.py
  src/mass_find_replace/cli/__init__.py
  src/mass_find_replace/core/__init__.py
  src/mass_find_replace/core/constants.py
  src/mass_find_replace/core/exceptions.py
  src/mass_find_replace/core/types.py
  src/mass_find_replace/file_system_operations.py
  src/mass_find_replace/scanning/__init__.py
  src/mass_find_replace/transactions/__init__.py
  src/mass_find_replace/utils/__init__.py
  src/mass_find_replace/utils/file_encoding.py
  src/mass_find_replace/utils/file_locking.py
  src/mass_find_replace/utils/json_handlers.py
  src/mass_find_replace/utils/logging_utils.py
Due: mypy, pytest

fix: add re-exports to file_system_operations.py for backward compatibility
  src/mass_find_replace/file_system_operations.py
  workflow_logs/ci-cd-pipeline-failed.log
  workflow_logs/lint-failed.log
  workflow_logs/pre-commit-failed.log
Due: mypy, pytest

fix: add missing re-exports to file_system_operations.py
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

fix: update test expectations and remove trailing whitespace
  tests/test_mass_find_replace.py
  workflow_logs/ci-cd-pipeline-failed.log
  workflow_logs/lint-failed.log
  workflow_logs/pre-commit-failed.log
Due: mypy, pytest

style: auto-fix formatting issues
  src/mass_find_replace/utils/file_encoding.py
  tests/test_surgical_replacements.py
Due: mypy, pytest

refactor: extract scanning functionality to separate module
  src/mass_find_replace/core/scanning.py
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

refactor: extract transaction management and execution to separate modules
  src/mass_find_replace/core/file_processor.py
  src/mass_find_replace/core/transaction_executor.py
  src/mass_find_replace/core/transaction_manager.py
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

fix: add deptry to dev dependencies and fix mypy type ignore comment
  .actrc
  .gitignore
  act-lint-python-full.log
  act-lint-python.log
  act-lint.log
  act-precommit.log
  pre-commit-local.log
  pre-commit-local2.log
  pre-commit-local3.log
  pyproject.toml
  pytest-local.log
  pytest-output.log
  src/mass_find_replace/mass_find_replace.py
  uv.lock
Due: mypy, deptry, pytest

fix: correct mypy type ignore comment and patch location in test
  src/mass_find_replace/mass_find_replace.py
  tests/test_additional_coverage.py
Due: mypy, pytest

fix: use cast with proper types for mypy compatibility in CI
  src/mass_find_replace/mass_find_replace.py
Due: mypy, pytest

Path conditions:
  mypy: any of: ^(src/|tests/) and \.py$ and not ((?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$
)
  deptry: any of: ^(src/|pyproject\.toml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  yamlfmt: any of: ^\.github/.*\.(yml|yaml)$ and \.(yaml|yml)$ and not ((?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$
)
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  pytest: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

