Repository Emasoft/MFR: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, deptry, yamllint, yamlfmt, actionlint, pytest

Path conditions:
  mypy: any of: ^(src/|tests/) and \.py$ and not ((?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$
)
  deptry: any of: ^(src/|pyproject\.toml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  yamllint: any of: \.(yaml|yml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  yamlfmt: any of: ^\.github/.*\.(yml|yaml)$ and \.(yaml|yml)$ and not ((?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$
)
  actionlint: any of: ^\.github/workflows/.*\.(yml|yaml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$

  pytest: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$, but not: (?x)^(
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  venv/|
  \.env|
  build/|
  dist/|
  .*\.egg-info/|
  __pycache__/|
  \.coverage|
  htmlcov/|
  \.DS_Store|
  planned_transactions\.json|
  uv\.lock
)$


fix: use type annotation for logger variable to satisfy mypy
  src/mass_find_replace/mass_find_replace.py
Due: mypy, pytest

fix: address ruff linting issues
  .actrc
  act-lint-python-full.log
  act-lint-python.log
  act-lint.log
  act-precommit.log
  pre-commit-local.log
  pre-commit-local2.log
  pre-commit-local3.log
  pytest-local.log
  pytest-output.log
  src/mass_find_replace/core/__init__.py
  src/mass_find_replace/core/constants.py
  src/mass_find_replace/core/exceptions.py
  src/mass_find_replace/core/file_processor.py
  src/mass_find_replace/core/scanning.py
  src/mass_find_replace/core/transaction_executor.py
  src/mass_find_replace/core/transaction_manager.py
  src/mass_find_replace/core/types.py
  src/mass_find_replace/test_config.py
  src/mass_find_replace/utils/__init__.py
  src/mass_find_replace/utils/file_encoding.py
  src/mass_find_replace/utils/file_locking.py
  src/mass_find_replace/utils/json_handlers.py
  src/mass_find_replace/utils/logging_utils.py
Due: mypy, pytest

refactor: extract execute_all_transactions to transaction_orchestrator module
  scripts/docker-cleanup.sh
  src/mass_find_replace/core/transaction_orchestrator.py
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

refactor: split mass_find_replace.py into smaller modules
  src/mass_find_replace/__init__.py
  src/mass_find_replace/__main__.py
  src/mass_find_replace/cli/__init__.py
  src/mass_find_replace/cli/parser.py
  src/mass_find_replace/mass_find_replace.py
  src/mass_find_replace/ui/__init__.py
  src/mass_find_replace/ui/display.py
  src/mass_find_replace/workflow/__init__.py
  src/mass_find_replace/workflow/validation.py
Due: mypy, pytest

refactor: complete splitting of mass_find_replace.py
  src/mass_find_replace/core/config.py
  src/mass_find_replace/mass_find_replace.py
  src/mass_find_replace/utils/logger.py
  src/mass_find_replace/workflow/__init__.py
  src/mass_find_replace/workflow/executor.py
  src/mass_find_replace/workflow/scanner.py
Due: mypy, pytest

refactor: split scanning.py into smaller focused modules
  src/mass_find_replace/core/scanner/__init__.py
  src/mass_find_replace/core/scanner/binary_handler.py
  src/mass_find_replace/core/scanner/content_scanner.py
  src/mass_find_replace/core/scanner/directory_walker.py
  src/mass_find_replace/core/scanner/file_type_detector.py
  src/mass_find_replace/core/scanner/item_processor.py
  src/mass_find_replace/core/scanner/transaction_builder.py
  src/mass_find_replace/core/scanning.py
  src/mass_find_replace/file_system_operations.py
Due: mypy, pytest

refactor: split replace_logic.py into smaller focused modules
  src/mass_find_replace/replace_logic.py
  src/mass_find_replace/replacer/__init__.py
  src/mass_find_replace/replacer/executor.py
  src/mass_find_replace/replacer/loader.py
  src/mass_find_replace/replacer/logging_utils.py
  src/mass_find_replace/replacer/normalization.py
  src/mass_find_replace/replacer/patterns.py
  src/mass_find_replace/replacer/state.py
  src/mass_find_replace/replacer/validation.py
Due: mypy, pytest

refactor: split transaction_orchestrator.py into smaller focused modules
  src/mass_find_replace/core/orchestrator/__init__.py
  src/mass_find_replace/core/orchestrator/collision_detector.py
  src/mass_find_replace/core/orchestrator/interactive_handler.py
  src/mass_find_replace/core/orchestrator/retry_handler.py
  src/mass_find_replace/core/orchestrator/stats_manager.py
  src/mass_find_replace/core/orchestrator/transaction_processor.py
  src/mass_find_replace/core/transaction_orchestrator.py
Due: mypy, pytest

refactor: further extract execution loop from transaction_orchestrator
  src/mass_find_replace/core/orchestrator/execution_loop.py
  src/mass_find_replace/core/transaction_orchestrator.py
Due: mypy, pytest

refactor: split file_processor.py into processor submodules
  src/mass_find_replace/core/file_processor.py
  src/mass_find_replace/core/processor/__init__.py
  src/mass_find_replace/core/processor/batch_processor.py
  src/mass_find_replace/core/processor/group_processor.py
  src/mass_find_replace/core/processor/stream_processor.py
Due: mypy, pytest

refactor: split parser.py into parser_modules
  src/mass_find_replace/cli/parser.py
  src/mass_find_replace/cli/parser_modules/__init__.py
  src/mass_find_replace/cli/parser_modules/argument_parser.py
  src/mass_find_replace/cli/parser_modules/argument_processor.py
  src/mass_find_replace/cli/parser_modules/dependency_checker.py
  src/mass_find_replace/cli/parser_modules/self_test.py
  src/mass_find_replace/cli/parser_modules/subprocess_runner.py
Due: mypy, pytest

fix: prevent binary log deletion between scan and execution phases
  src/mass_find_replace/core/scanner/content_scanner.py
  src/mass_find_replace/core/scanner/item_processor.py
  src/mass_find_replace/core/scanner/transaction_builder.py
  src/mass_find_replace/replacer/executor.py
  src/mass_find_replace/utils/json_handlers.py
  src/mass_find_replace/workflow/executor.py
  src/mass_find_replace/workflow/scanner.py
  test_output.log
  tests/test_binary_handling.py
  tests/test_binary_simple.py
  tests/test_mass_find_replace.py
Due: mypy, pytest

fix: correct test expectations for binary file pattern matching
  tests/test_binary_handling.py
  tests/test_binary_simple.py
Due: mypy, pytest

fix: resolve test failures and cleanup test artifacts
  mypy_results.txt
  test_output.log
  test_results_full.log
  tests/test_additional_coverage.py
  tests/test_coverage_improvements.py
  tests/test_final_coverage.py
  tests/test_github_integration.py
Due: mypy, pytest

chore: remove gitleaks from project
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .gitignore
  .gitleaks.toml
  .gitleaksignore
  .pre-commit-config.yaml
  README.md
  SECURITY.md
  SECURITY_SETUP.md
  docker-compose.test.yml
  docker/Dockerfile.test
  scripts/test-with-act.sh
Due: yamllint, yamlfmt, actionlint

chore: replace gitleaks with Trufflehog for secret scanning
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
Due: yamllint, yamlfmt, actionlint

chore: update TruffleHog to v3 syntax and configuration
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .trufflehog-exclude.txt
  .trufflehog.yaml
Due: yamllint, yamlfmt, actionlint

fix: resolve TruffleHog v3 CI issues
  .github/workflows/pre-commit.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
Due: yamllint, yamlfmt, actionlint

fix: resolve issues in sequential pre-commit setup
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  setup-sequential-precommit.sh
Due: none

feat: implement universal sequential pre-commit setup with three-layer defense
  .github/workflows/pre-commit-sequential.yml
  .github/workflows/prfix.yml
  .pre-commit-config.yaml
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  .sequential-precommit-env
  .trufflehog-exclude
  SEQUENTIAL_PRECOMMIT_SETUP.md
  docker/sequential-precommit/Dockerfile
  docker/sequential-precommit/docker-compose.yml
  run-sequential-docker.sh
  run-sequential-local.sh
  setup-sequential-precommit.sh
Due: yamllint, yamlfmt, actionlint

fix: resolve TruffleHog v3 CI issues
  .github/workflows/pre-commit-sequential.yml
  .gitignore
  .pre-commit-config.yaml
  setup-sequential-precommit.sh
Due: yamllint, yamlfmt, actionlint

fix: resolve all issues in sequential pre-commit setup
  .github/workflows/pre-commit-sequential.yml
  .github/workflows/prfix.yml
  .pre-commit-wrappers/memory-limited-hook.sh
  .pre-commit-wrappers/trufflehog-limited.sh
  .sequential-precommit-version
  .trufflehog-exclude
  docker/sequential-precommit/Dockerfile
  docker/sequential-precommit/docker-compose.yml
  run-sequential-docker.sh
  run-sequential-local.sh
  setup-sequential-precommit.sh
Due: yamllint, yamlfmt, actionlint

fix: remove duplicate --fail flag from TruffleHog GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  logs/security-checks-failed.log
Due: yamllint, yamlfmt, actionlint

fix: remove invalid detector names from TruffleHog workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  logs/16047903394_security_checks.log
Due: yamllint, yamlfmt, actionlint

fix: align TruffleHog configuration between local and GitHub
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/security.yml
  deptry_output.json
Due: yamllint, yamlfmt, actionlint

docs: add TruffleHog configuration consistency section
  SEQUENTIAL_PRECOMMIT_SETUP.md
Due: none

fix: apply linting and formatting fixes
  .github/workflows/prfix.yml
  src/mass_find_replace/core/scanner/binary_handler.py
  src/mass_find_replace/replacer/executor.py
  src/mass_find_replace/replacer/loader.py
  src/mass_find_replace/workflow/scanner.py
  tests/test_surgical_replacements.py
Due: mypy, yamllint, yamlfmt, actionlint, pytest

feat: enforce TRUE sequential execution across all operations
  .env.development
  .github/workflows/pre-commit-sequential.yml
  .github/workflows/prfix.yml
  .sequential-aliases
  Makefile
  PIPELINE_SAFETY_REDESIGN.md
  SAFE_EXECUTION_GUIDE.md
  SEQUENTIAL_PRECOMMIT_SETUP.md
  deptry_check.json
  duplicate_code_report.md
  pyproject.toml
  pytest.ini
  scripts/ensure-sequential.sh
  scripts/monitor-queue.sh
  scripts/safe-run.sh
  scripts/seq
  scripts/sequential-executor.sh
  src/mass_find_replace/cli/parser_modules/argument_parser.py
  src/mass_find_replace/cli/parser_modules/argument_processor.py
  src/mass_find_replace/core/orchestrator/collision_detector.py
  src/mass_find_replace/core/orchestrator/transaction_processor.py
  src/mass_find_replace/core/scanner/binary_handler.py
  src/mass_find_replace/core/scanner/content_scanner.py
  src/mass_find_replace/core/scanner/item_processor.py
  src/mass_find_replace/core/scanner/transaction_builder.py
  src/mass_find_replace/core/scanning.py
  src/mass_find_replace/core/transaction_orchestrator.py
  src/mass_find_replace/file_system_operations.py
  src/mass_find_replace/mass_find_replace.py
  src/mass_find_replace/replacer/executor.py
  src/mass_find_replace/replacer/loader.py
  src/mass_find_replace/replacer/patterns.py
  src/mass_find_replace/replacer/state.py
  src/mass_find_replace/workflow/executor.py
  src/mass_find_replace/workflow/validation.py
  uv.lock
Due: mypy, deptry, yamllint, yamlfmt, actionlint, pytest

fix: remove local keyword from variables outside functions in sequential-executor.sh
  scripts/sequential-executor.sh
Due: none
